.Reasons {
    padding-top: 0px;
    padding-left: 0px;
    background-color: white;
    
    display: flex;
    grid-template: 2rem;
  }
.tm-section{
  background-color: #fff;
}
.row{
  padding: auto ;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.box1{
  padding: 25px 25px 25px 25px;

}
.hcontent{
  padding: 2px 20px 20px 20px;
}

.eabout{
  text-align: center;
}
.tm-margin-b-20{
  text-align: center;
}

.btn1{
  display: inline-block;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    margin-left: 20px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px #fff solid;
}
 
  
 
  
  .right-r {
    flex: 1 1;
    text-transform: uppercase;
    gap: 0rem;
    display: flex;
    flex-direction: column;
  }
  
  .details-r{
    padding: 20px 20px 20px 20px ;

  }
  
  .right-r > div {
    color: black;
    font-size: 10px;
    font-weight: 100;
  
  }
  h2{
    padding-bottom: 40px;
  }
  


  .dcontent{
    padding: 30px 30px 30px 30px;
  }

  .stroke-textm{
    font-weight: 400px;
  }
  .stroke-textp{
    font-weight: 100px ;
  }

